* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container:after {
    content:'';
    display: block;
    clear: both;
}

header {
    background-color: black;
}

header h1 {
    float: left;
    padding: 22px 0;
    color: white;
    background-color: black;
}

header ul {
    float: right;
    color: #fff;
}

header ul li {
    display: inline-block;
    color: #fff;
}

header ul li a {
    padding: 30px 30px;
    display: inline-block;
    color: #fff;
}

header ul li a:hover {
    background-color: green;
    color: #ffffff;
}
.active {
    background-color: green;
    color: white;
}

.banner {
    height: 81px;
    background-size: cover;
    position: relative; 
    display: flex;
    justify-content: center;
    background-color: black;
}

.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}

.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 0px 25px;
    text-align: center;
    word-spacing: center;
}

section {
    padding: 150px 0;
}

.about {
    background-color: black;
    color: white;
    text-align: center;
    padding: auto;
}

.about p {
    background-color: black;
    color: #999 ;
    text-align: center;
    padding: auto;
}
.footer {
    padding: 15px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Source=Sans=Pro=wght@600bdisplay=swamp');

.gabut {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: top;
    min-height: 50vh;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    background-color: black;
    padding: 0px 0;
}

.btn-1 {
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    background-color: green;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #fff;
    font-size: 2rem;
    outline: none;
}

.btn-1:hover {
    box-shadow: inset 300px 0 0 0 #fff;
    color: black;
}


.btn-2:hover {
    box-shadow: inset 300px 0 0 0 #f9e589;
    color: black;
}

.banner p{
    color: #999;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
}

.about h3 {
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
}

.about h3 ul li {
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
}

.nothing {
    border: 1px solid;
    size: 5px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

